* {
    box-sizing: border-box;
    font-family: siteEstetica;
}
@font-face {
    font-family: siteEstetica;
    src: url('font/Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: siteEsteticaBold;
    src: url('font/Poppins/Poppins-Bold.ttf');
}

html, body {
    background-color: white;
    
}
footer{
    background-color: #9e917f;
}
.nav-bar{
    display: none;
    background-color: #9e917f;
    flex-direction: column;
    width: 100%; 
    justify-content: center;
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 6rem; 
    left: 0; 
    transform: translateY(0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.abrir-nav{
    border: none;
    background-color: inherit;
    font-size: 1.4rem;
}
.icon-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-text i {
    margin-right: 10px; 
}
.nav-bar, .nav-bar * {
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-bar{
    opacity: 98%;
    background-color: #9e917f
}

.nav-bar a {
    text-decoration: none; 
    color: #fff;
    font-size: 1.2em;
    transition: color 0.5s;
}
.nav-bar a:hover {
    color: #ffc222;
}
.abrir-nav{
    display: none;
}
#wpp {
    position: relative;
  }

  .container-bloco {
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    background-color: #9f9180; 
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    width: 30%;
    max-width: 1200px;
    height: auto;
    
  }
  
  .discount {
    font-family: siteEsteticaBold;
    color: #333;
    margin: 20px 0;
  }
  .cta-button {
    background-color: #ffffff;
    color: #695d4f;
    font-family: siteEsteticaBold;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 15px;
  }
  
  .subtitle { 

    text-align: center; 
    font-size: 20px;
}
.footer { 
    text-align: center; 
    margin-top: 30px; 
}
.route-button { 
    display: block; 
    width: max-content; 
    margin: 20px auto; 
    padding: 10px; 
    background-color: #695d4f;
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3); 
}
  
header {
    background-color: #9e917f;
    display: flex;
    color: white;
    height: 6rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-left: 30%;
    height: 100px;
    width: 215px;
}
.menu {
    width: 60vw;
}
.menu a{
    margin-left: 10%;
    font-family: siteEstetica;
    font-size: 1.5rem;
    color: white;
    text-decoration: none !important;
    text-align: center;
}
.menu a:hover{
    transition: 0.5s;
    color: #ffffff;
}

.botao_agendar {
    background-color: #ffffff;
    border-radius: 40px;
    padding: 10px 25px;
    font-size: 1.6rem;
    border: none;
    font-family: siteEstetica;
    color: black;
    font-weight: bold;
    text-align: center;
}
.botao_agendar:hover{
    transition: 0.5s;
    background-color: #FFFF00;
}
.agendar {
    margin-right: 1%;
}

.servicos .row {
    text-align: center;
}
.text-sobre {
    padding: 20px;
}

footer {
    padding: 20px;
}

#wpp {
    display: block;
    margin: 0 auto;
}

#wpp img {
    height: 85vh; 
    object-fit: cover; 
}



.servicos {
    background-color:white;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.servico-item {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 90%;
    position: relative;
}

.servico-item img {
    max-width: 100%;
    height: 92%;
    
}
.titulo-servico{
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: #9e917f;
}
h1, .h1-nome{
    font-size: 1.9rem;
    text-align: center;
    font-family: siteEsteticaBold;
}
.h1-nome{
    font-weight: bold;
}
.avaliacao{
    width: 250px;
    text-align: center;
    background-color: #161616;
    border-radius: 15px;
}
.text-avaliacao{
    text-align: justify;
    font-family: siteEstetica;
    font-size: 1.1rem;
    padding: 2%;
    color:whitesmoke
}
.avaliacoes{
    display: flex;
    justify-content:space-evenly ;
}
.h2-avaliacao{
    color: black;
    background-color: #ffc222;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.cont-whats{
    color: #369b22;
}
.cont-insta{
    color: #de175d;
}
.cont-face{
    color: #3b5998;
}
.contatos a :hover{
    transition: 0.8s;
    color: white;
}
footer {
    background-color:    #9e917f;
    color: #1C1C1C; 
    padding: 20px 0; 
    text-align: center; 
    border: none;
}

footer p {
    margin: 0;
    margin-left: 30px;
    font-size: 0.8rem; 
    text-align: center;
}
h4{
    font-size: 1rem;
}
.sobre{
    background-image: url(img/wpp\ 3.png);
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    background-color: #dcd9d4;
    padding-bottom: 5%;
}
.img-sobre{
    width: 500px;
    height: 500px;
    margin-left: 55px;
    
}
.text-sobre{
    width: 350px;
    height: 300px;
    color: black;
}
.p-sobre{
    font-family: siteEstetica;
    font-size: 1.4rem;
    text-align: justify;
    color:#695d4f ;
}
.h2-sobre{
    font-family: siteEstetica;
    font-size: 3rem;
    color: #695d4f;
}
.titulo{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #9e917f;
}
.titulo h1{
    font-size: 3rem;
}
.contatos{
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.contatos a{
    margin: 5%;
}
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    width: 60px;
    height: 60px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(0, 0, 0);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 20px; 
    animation: arrow 2s infinite;
}
#myBtn i{
    font-size: 2em;
}
@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.avaliacao{
    width: 250px;
    text-align: center;
    background-color: #161616;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}
.checked {
    color: orange;
}
iframe {
    width: 50vw;
    height: 35vh;
}
iframe{
    border-radius: 10px;
}
@media(min-width:1000px) and (max-width:1200px){
    .menu a{
        font-size: 1.2rem;
    }
    .botao_agendar {
        padding: 8px 20px;
        font-size: 1.2rem;
    }
    .h1-nome{
        font-size: 1.8rem;
    }
    .avaliacao{
        width: 200px;
    }
    
    
   
}
@media(max-width:999px){
    header{
        width: 100%;
    }
    .menu,.botao_agendar{
        display: none;
    }
    .abrir-nav{
        display: block;
    }
    .nav-bar{
        display: none;
    }
}

    @media(min-width:770px) and (max-width: 779){
        
        .container-bloco {
            width: 50%;
            height: auto;
            margin-left: 70px;
        }
        .container-bloco p{
            font-size: 150%;
    }
        .cta-button{
            height: 50%;
            width: 50%;
            margin-top: -10px;
        }
        .cta-button .fa-whatsapp {
            font-size: 40px;
            
            
        }
        .cta-button h3{
            font-family: siteEsteticaBold; 
        }
    
    
}
@media (max-width: 600px) {
    
    #wpp img {
        height: 300px;
    }

    .servicos .row {
        flex-direction: column;
    }

    .text-sobre{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .img-sobre {
        display: none;
    }
    .avaliacoes{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .contatos a i{
        margin-bottom: 80px;
        font-size: 2rem;
    }
    .contatos{
        width: 200px;
    }
    .carousel-control-prev, .carousel-control-next {
        font-size: 0.6rem;
    }
    

}

@media (min-width: 601px) and (max-width: 912px) {
    

    .servicos .row {
        flex-direction: row;
        align-items: center;
    }

    .text-sobre{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .img-sobre {
        display: none;
    }
    .avaliacoes{
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .contatos a i{
        margin-bottom: 80px;
    }
    .p-sobre{
        font-size: 1.1em;
    }
    .container-bloco {
        width: 50%;
        height: auto;
        margin-left: 70px;
    }
    .container-bloco p{
        font-size: 150%;
}
    .cta-button{
        height: 50%;
        width: 50%;
        margin-top: -10px;
    }
    .cta-button .fa-whatsapp {
        font-size: 40px;
        
        
    }
    .cta-button h3{
        font-family: siteEsteticaBold; 
    }
   
}


    @media (max-width: 299px){
        .container-bloco {
            width: 70%;
            height: auto;
            margin-left: 50px;
        }
        .container-bloco p{
            font-size: 80%;
    }
    .container-bloco h1{
        font-size: 90%;
    }
        .cta-button{
            position: relative;
            height: 10%;
            width: 60%;
            margin-top: -10px;
            right: 5%;
            padding: 0;
            margin-left: 20px;
        }
        .cta-button .fa-whatsapp {
            display: none;
        }
        .cta-button h3{
            font-size: 15px;
            font-family: siteEsteticaBold;
            margin-top: 10px;
        }
}
@media (min-width: 1024px) {
    .container-bloco {
        width: 50%;
        height: auto;
        margin-left: 70px;
    }
    .container-bloco p{
        font-size: 30px;
}
.container-bloco h1{
    font-size: 30px;
}
    .cta-button{
        position: relative;
        height: 10%;
        width: 60%;
        margin-top: -10px;
        right: 5%;
        padding: 0;
        margin-left: 20px;
    }
    .cta-button .fa-whatsapp {
        display: none;
    }
    .cta-button h3{
        font-size: 30px;
        font-family: siteEsteticaBold;
        margin-top: 10px;
    }

}
    @media (min-width: 852px) and (max-width: 860px){
        .cta-button .fa-whatsapp {
            display: none;
        }
}
@media (min-width: 1025px) {
    .servicos .row {
        flex-direction: row;
    }

    .text-sobre {
        width: 50%;
        margin: auto;
    }
    .avaliacao{
        gap: 15px;
    }
    .contatos a i{
        margin-bottom: 80px;
    }
    .fab fa-whatsapp {
        font-size: 20px;
        margin-right: 10px;
    }
    
}
@media (min-width: 2000px) { 
    .h2-sobre, .titulo h1, .menu a, .botao_agendar, .titulo-servico, .text-avaliacao, .h2-avaliacao, .contatos, .titulo, .servicos, .sobre, .avaliacoes, footer p {
        font-size: 2em;
    }
    .p-sobre {
        font-size: 1em;
    }   
    .h2-sobre {
        font-weight: bold;
    }
   .titulo{
    font-weight: bold;
   }
    .sobre {
        margin-bottom: 14em;
    }
    .avaliacao {
        width: 600px;
    }
    
    .img-sobre {
        width: 33%;
        height: 33%;
    }
    .contatos {
        display: flex;
        justify-content: space-around;
    }
    .contatos a i {
        font-size: 6em;
        margin-bottom: 120px;
    }
    footer p {
        font-size: 3em;
    }
    
    header {
        height: 13rem;
    }
    .nome h1, .menu a, .botao_agendar {
        font-size: 2.5em;
    }
    .logo img {
        width: 400px;
        height: 215px;
    }
    .container-bloco {
        width: 60%;
        height: 70%;
        left: 35%;
        top: 50%;
    }
    .container-bloco h1{
        font-size: 60px;
    }
    .container-bloco p{
        font-size: 75px;
}
    .cta-button{
        height: 20%;
        width: 50%;
    }
    .cta-button .fa-whatsapp {
        font-size: 70px;
        
        
    }
    .cta-button h3{
        font-size: 40px;
        font-family: siteEsteticaBold;
        margin-top: 50px;
    }
   
}

@media (min-width: 400px) and (max-width: 599px) {
    .container-bloco {
        width: 50%;
        height: 80%;
        margin-left: 60px;
        top: 50%;
        left: 15%;
    }
    .container-bloco h1 {
        font-size: 70%;
    }
    .container-bloco p {
        font-size: 50%;
    }
    .cta-button {
        margin-top: 0;
        font-size: 40%;
        width: auto;
        
}
.cta-button .fa-whatsapp {
    font-size: 10px; 
}

}
@media (min-width: 539px) and (max-width: 540px) {
    .container-bloco {
        position: absolute;
        width: 50%;
        height: 70%;
        margin-left: 60px;
        top: 50%;
    }

    
    .container-bloco p {
        font-size: 13px;
        font-weight: bold;
        font-family:siteEsteticaBold
    }
    .container-bloco h1 {
        font-size: 15px;
        font-weight: bold;
        font-family:siteEsteticaBold
    }
    .cta-button h3{
        font-size: 15px;
        font-weight: bold;
        font-family:siteEsteticaBold ;
    }
    
    .cta-button {
        display: flex;
        position: absolute;
         bottom: 15px;
        left: 60px; 
        font-size: 0.6em;
        width: 150px;
        height: 50px; 
        padding: 8px;
    }
    
    .cta-button .fa-whatsapp {
        font-size: 30px;
        margin-right: 10px;
    }
}

@media (min-width: 300px) and (max-width: 779px) {
    .container-bloco {
        position: absolute;
        width: 50%;
        height: 90%;
        margin-left: 60px;
        top: 50%;
    }

    
    .container-bloco p {
        font-size: 13px;
        font-weight: bold;
        font-family:siteEsteticaBold
    }
    .container-bloco h1 {
        font-size: 15px;
        font-weight: bold;
        font-family:siteEsteticaBold
    }
    .cta-button h3{
        font-size: 10px;
        font-weight: bold;
        font-family:siteEsteticaBold ;
    }
    
    .cta-button {
        display: flex;
        position: absolute;
        bottom: 10px; 
        left: 5px; 
        font-size: 0.6em;
        width: 150px;
        height: 30px; 
        padding: 8px;
    }
    
    .cta-button .fa-whatsapp {
        font-size: 20px;
        margin-right: 10px;
    }
    
    
    
    
}
